@import "tailwindcss";

@theme {
  --font-geist-mono: var(--font-geist-mono);
}

.border-animation:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 200%;
  height: 2000%;
  transform-origin: center;
  background-image: conic-gradient(
    transparent 20deg,
    var(--color-neutral-500) 80deg,
    var(--color-neutral-400) 100deg,
    transparent 160deg
  );
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@import "tailwindcss";

@theme {
  --font-geist-mono: var(--font-geist-mono);
}

.border-animation:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 200%;
  height: 2000%;
  transform-origin: center;
  background-image: conic-gradient(
    transparent 20deg,
    var(--color-neutral-500) 80deg,
    var(--color-neutral-400) 100deg,
    transparent 160deg
  );
  animation: rotate 2s linear infinite;
}

.bg-pattern {
  background-color: #0a0a0a;
  background-image:
    linear-gradient(to right, #101010 1px, transparent 1px),
    linear-gradient(to bottom, #101010 1px, transparent 1px);
  background-size: 20px 20px;
}