@import "tailwindcss";

@theme {
  --font-geist-mono: var(--font-geist-mono);
  --font-geist: var(--font-geist);
  --font-sans: var(--font-geist);
  --font-mono: var(--font-geist-mono);
  --font-rubik-glitch: var(--font-rubik-glitch);

  --color-dark-1: #080808;
  --color-dark-2: #0c0c0c;
  --color-dark-3: #111111;
  --color-dark-4: #161616;
  --color-dark-5: #1b1b1b;
  --color-dark-6: #212121;
  --color-dark-7: #282828;
  --color-dark-8: #303030;
  --color-dark-9: #3a3a3a;
  --color-dark-10: #454545;
  --color-dark-11: #525252;
  --color-dark-12: #626262;

  --color-light-1: #f8f8f8;
  --color-light-2: #f4f4f4;
  --color-light-3: #efefef;
  --color-light-4: #eaeaea;
  --color-light-5: #e5e5e5;
  --color-light-6: #dfdfdf;
  --color-light-7: #d8d8d8;
  --color-light-8: #d0d0d0;
  --color-light-9: #c6c6c6;
  --color-light-10: #bbbbbb;
  --color-light-11: #aeaeae;
  --color-light-12: #9e9e9e;

  --color-text-bright: #f0f0f0;
  --color-text-medium: #b8b8b8;
  --color-text-dim: #8a8a8a;
}

.border-animation:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 200%;
  height: 2000%;
  transform-origin: center;
  background-image: conic-gradient(
    transparent 20deg,
    var(--color-neutral-500) 80deg,
    var(--color-neutral-400) 100deg,
    transparent 160deg
  );
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

.border-animation:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 200%;
  height: 2000%;
  transform-origin: center;
  background-image: conic-gradient(
    transparent 20deg,
    var(--color-neutral-500) 80deg,
    var(--color-neutral-400) 100deg,
    transparent 160deg
  );
  animation: rotate 2s linear infinite;
}

.bg-pattern {
  background-color: #0a0a0a;
  background-image:
    linear-gradient(to right, #101010 1px, transparent 1px),
    linear-gradient(to bottom, #101010 1px, transparent 1px);
  background-size: 20px 20px;
}